*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    background-color: cadetblue;
    border:2px solid lightgray;
    width: 50%;
    margin: 200px auto;
    border-radius: 14px;
    padding: 60px 50px ;
    box-shadow: 0 0 14px;
}
.cardheading{
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cardtext{
    margin-bottom: 20px;
    font-style: italic;
}
.button{
    border-color: lightpink;
    border-radius:  30px 30px;
    padding: 10px 10px;
    background-color:rgb(226, 43, 46);
    color: aliceblue;
}
