*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    border: 1px solid lightgray;
    width: 600px;
    margin: 100px auto;
    padding: 40px 50px;
}
.card-title{
    text-align: center;
    font-size: 50px;
    font-weight: 495;
}
.card-head{
    text-align: center;
    font-weight: 500 ;
    margin-top: 14px;
}
.card-input{
    width: 500px;
    margin-top: 24px;
    padding: 15px 30px;
    border-radius: 14px;
    display: block;
    margin-bottom: 24px ;
}
.card-button{
    padding: 10px 30px;
    display: block;
    margin: auto;
    border-radius: 14px;
    font-size: 18px;
    color: antiquewhite;
    background-color: black;
    margin-bottom: 24px;
}
.card-info{
    text-align: center;
}
.card-footer{
    text-align: center;
    margin-top: 24px;
}
.card-link{
    color: black;
    font-weight: 600;
}