*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    border: 1px solid lightgrey;
    width: 600px;
    margin: 100px auto;
    border-radius: 14px;
}
.card-body{
    padding: 40px;
}
.card-heading{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}
.card-text{
    font-size: 18px;
}
.card-img{
    width: 80px;
    margin-top: 40px;
    border-radius: 50%;
    margin:50px 50px auto;
}
.card-footer{
    border-top:1px solid lightgrey ;
    padding: 40px;
}
.footer-link{
     text-decoration: none;
     font-size: 20px;
}