*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    border: 1px solid lightgray;
    width: 500px;
    margin: 100px auto;
    border-radius: 14px;
}
.card-img{
    width: 500px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card-body{
    padding: 30px;
}
.card-heading{
    font-size: 35px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.card-text{
    margin-bottom: 20px;
}
.card-link{
    text-decoration: none;
    padding: 10px 40px;
    border: 1px solid lightgrey;
    border-radius: 14px;
    font-weight: 700;
}